@font-face {
    font-family: 'GilroyExtraBold';
    src: url('../fonts/gilroy/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroy/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroy/Gilroyextrabold.ttf') format('truetype');
}
@font-face {
    font-family: 'GilroyLight';
    src: url('../fonts/gilroy/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroy/gilroylight.woff') format('woff'),
         url('../fonts/gilroy/Gilroylight.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans/opensans.woff2') format('woff2'),
         url('../fonts/opensans/opensans.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans/opensanslight.woff2') format('woff2'),
         url('../fonts/opensans/opensanslight.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    padding-top: 40px;
    height: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
    outline: 0px solid red;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.btn_style {
    color: #000000;
    cursor: pointer;
}

.btn_style:hover {
    opacity: 0.6;
}

.btn_style:active {
    opacity: 0.3;
}

/* ======================== HEADER ======================== */
.header {
    background-color: #f7e296;
    padding: 0 60px 53px;
    box-sizing: border-box;
}

    /* header first block */
    .search_wrap {
        position: relative;
        padding-top: 33px;
    }
    
        .header_logo {
            display: inline-block;
            width: 164px;
            height: 36px;
            position: absolute;
            top: -18px;
            left: 0;
            font-size: 0;
            cursor: pointer;
            background-image: url('../img/sprite-bg.png');
            background-repeat: no-repeat;
            background-position: 0 0;
        }
        
        .header_logo:hover {
            background-position: 0 -40px;
        }
        
        .header_logo:active {
            background-position: 0 -80px;
        }
    
        .button_wrap {
            float: right;
            width: 500px;
            padding-top: 7px;
            font-size: 0;
        }
            
            .button_wrap a {
                display: inline-block;
                vertical-align: top;
                font: 15px/36px 'OpenSansLight', 'Arial', sans-serif;
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        
            .button_cart, .button_compare {
                float: right;
                margin-left: 40px;
            }
            
                .button_wrap a:before {
                    content: "";
                    display: inline-block;
                    width: 13px;
                    height: 12px;
                    background-image: url('../img/sprite-bg.png');
                    background-repeat: no-repeat;
                }
            
                .button_cart:before {
                    background-position: -260px 0;
                    margin-right: 10px;
                }
                
                .button_compare:before {
                    background-position: -240px 0;
                    margin-right: 8px;
                }
                
                .button_enter:before {
                    background-position: -220px 0;
                    margin-right: 14px;
                }
        
        /* search form */
        .search_form {
            font-size: 0;
            position: relative;
            width: 500px;
        }
        
            .search_form input {
                display: inline-block;
                vertical-align: top;
                height: 50px;
                box-sizing: border-box;
                border: 2px solid #000;
                font: 15px/36px 'OpenSansLight', 'Arial', sans-serif;
                border: 2px solid transparent;
                background-color: transparent;
                outline: none;
            }
        
            .search_form input[type="text"] {
                width: 355px;
                padding-left: 39px;
                color: rgba(0, 0, 0, 0.3);
            }
            
            .search_form::before {
                content: "";
                position: absolute;
                display: block;
                width: 16px;
                height: 16px;
                top: 17px;
                left: 3px;
                background-image: url('../img/sprite-bg.png');
                background-repeat: no-repeat;
                background-position: -320px 0;
            }
            
            .search_form input[type="text"]:hover {
                color: rgba(0, 0, 0, 0.6);
            }
            
            .search_form input[type="text"]:focus {
                color: rgba(0, 0, 0, 1);
                border-bottom-color: #000;
            }
            
            .search_form input[type="submit"] {
                width: 85px;
                color: rgba(0, 0, 0, 0);
                cursor: pointer;
            }
            
            .search_form input[type="text"]:focus ~ input[type="submit"] {
                border-color: #000;
                color: #000;
            }
            
            .search_form input[type="text"]:focus ~ input[type="submit"]:hover {
                background-color: #000;
                color: rgba(255, 255, 255, 1);
            }
            
            .search_form input[type="submit"]:active {
                background-color: #000;
                border-color: #000;
                color: rgba(255, 255, 255, 0.3);
            }
            
    /* header second block */
    .nav_wrap {
        margin-top: 30px;
        position: relative;
        z-index: 2;
    }
       
        .nav_page {
            width: 500px;
            float: right;
            font-size: 0;
        }
        
            .nav_page a {
                display: inline-block;
                vertical-align: top;
                font: 18px 'GilroyExtraBold', 'Arial', sans-serif;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                width: 160px;
            }
            
            .nav_page a:first-child {
                float: right;
                text-align: right;
            }
        
        .nav_btn {
            float: left;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            font: 18px 'GilroyExtraBold', 'Arial', sans-serif;
        }
        
            .nav_btn::after {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url("../img/sprite-bg.png");
                background-repeat: no-repeat;
                background-position: -300px 0;
                margin-left: 13px;
            }
        
        .nav_catalog {
            padding-bottom: 34px;
            padding-top: 30px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            display: none;
            z-index: -1;
        }
        
        .nav_btn:hover + .nav_catalog, .nav_catalog:hover {
            display: block;
        }
        
        .nav_catalog::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -60px;
            right: -60px;
            height: 100%;
            z-index: -1;
            background-color: #f7e296;
        }
        
            .nav_list {
                padding: 0;
                list-style-type: none;
                display: inline-block;
                vertical-align: top;
                min-width: 160px;
                margin: 15px 40px 0 0;
            }
                
                        .nav_list a {
                            font: 15px/36px 'OpenSansLight', 'Arial', sans-serif;
                            color: #000000;
                            text-decoration: none;
                            cursor: pointer;
                        }

/* ======================== PAGE INDEX ======================== */
    
/* SECTION SLIDER */
.sliders {
    font-size: 0;
    padding: 0 0 104px 0;
    position: relative;
    z-index: 1;
}

    .sliders::before {
        content: "";
        display: block;
        width: 100%;
        height: 112px;
        background-color: #f7e296;
        position: absolute;
        top: 0;
        left: 0;
    }

    .slider {
        position: relative;
        display: none;
        z-index: 1;
    }
    
    .slider_active {
        display: block;
    }

        .slider_block {
            width: 560px;
            display: inline-block;
            vertical-align: top;
        }
        
        .slider_block:first-child {
            margin-right: 40px;
        }
        
            .slider_block img {
                display: block;
                margin: 0 auto;
            }
            
            .slider_title {
                font: 47px 'GilroyExtraBold', 'Arial', sans-serif;
                color: #000;
                margin: 80px 0 20px;
                position: relative;
            }
            
            .slider .slider_title:before {
                content: "";
                display: block;
                width: 100px;
                height: 7px;
                background-color: #fff;
                position: absolute;
                top: -41px;
                left: 0;
            }
            
            .slider_text {
                font: 15px/30px 'OpenSansLight', 'Arial', sans-serif;
                color: #464646;
                margin: 0;
            }
            
            .slider_detail {
                display: block;
                width: 220px;
                height: 40px;
                cursor: pointer;
                text-align: center;
                font: 18px/40px 'GilroyExtraBold', 'Arial', sans-serif;
                color: #000;
                letter-spacing: 0.2em;
                text-decoration: none;
                text-transform: uppercase;
                margin-top: 45px;
                position: relative;
            }
            
            .slider_detail::after {
                content: "";
                display: block;
                width: 100%;
                height: 8px;
                background-color: #f0c52e;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: -1;
            }
            
            .slider_detail:hover::after {
                height: 100%;
            }
            
            .slider_detail:active {
                color: rgba(0, 0, 0, 0.3);
            }
            
            .slider_options {
                margin-top: 52px;
                border-collapse: collapse;
            }
            
                .slider_options tr:first-child {
                    font: 36px 'GilroyLight', 'Arial', sans-serif;
                    color: #000;
                }
                
                .slider_options tr:last-child {
                    font: 13px/20px 'OpenSansLight', 'Arial', sans-serif;
                    color: #464646;
                }
                
                    .slider_options td {
                        width: 160px;
                        height: 30px;
                        vertical-align: top;
                    }
                    
                    .slider_options td:nth-child(2) {
                        width: 140px;
                    }
            
            
            .slider::before {
                display: block;
                position: absolute;
                top: -32px;
                right: 60px;
                color: #fff;
                font: 180px 'GilroyExtraBold', 'Arial', sans-serif;
            }
            
            .slider:nth-of-type(1)::before {
                content: "01";
            }
            
            .slider:nth-of-type(2)::before {
                content: "02";
            }
            
            .slider:nth-of-type(3)::before {
                content: "03";
            }
        
        .sliders_btn {
            position: absolute;
            top: 378px;
            right: 84px;
            z-index: 100;
        }
            
            .slider_btn {
                display: inline-block;
                vertical-align: top;
                width: 10px;
                height: 10px;
                margin-left: 23px;
                background-image: url('../img/sprite-bg.png');
                background-repeat: no-repeat;
                background-position: -280px -40px;
                cursor: pointer;
            }
            
            .slider_btn:not(.slider_btn_on):hover {
                background-position: -280px -20px;
            }
            
            .sliders_btn .slider_btn:active,
            .slider_btn_on {
                background-position: -280px 0;
            }
            
            .slider_btn:first-child {
                margin-left: 0;
            }

/* SECTION PRODUCTS */
.products {
    font-size: 0;
    padding-bottom: 185px;
}

    .product {
        display: inline-block;
        width: 160px;
        vertical-align: top;
        margin-right: 40px;
        padding-top: 200px;
        cursor: pointer;
        font: 18px 'GilroyExtraBold', 'Arial', sans-serif;
        color: #000;
        text-decoration: none;
        position: relative;
    }
    
    .product:nth-of-type(6n) {
        margin-right: 0;
    }
    
    .product::before {
        content: "";
        display: block;
        width: 160px;
        height: 160px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(240, 197, 46, 0.5);
        background-image: url('../img/sprite-bg.png');
        background-repeat: no-repeat;
        color: rgba(0, 0, 0, 1);
    }
    
    .product:nth-child(1)::before {
        background-position: 0 -200px;
    }
    
    .product:nth-child(2)::before {
        background-position: -200px -200px;
    }
    
    .product:nth-child(3)::before {
        background-position: -400px -200px;
    }
    
    .product:nth-child(4)::before {
        background-position: -600px -200px;
    }
    
    .product:nth-child(5)::before {
        background-position: -800px -200px;
    }
    
    .product:nth-child(6)::before {
        background-position: -995px -200px;
    }
    
    .product:hover::before {
        background-color: rgba(240, 197, 46, 1);
    }
    
    .product:active {
        color: rgba(0, 0, 0, 0.3);
    }
    
    .product:nth-child(1):active::before {
        background-position: 0 -360px;
    }
    
    .product:nth-child(2):active::before {
        background-position: -200px -360px;
    }
    
    .product:nth-child(3):active::before {
        background-position: -400px -360px;
    }
    
    .product:nth-child(4):active::before {
        background-position: -600px -360px;
    }
    
    .product:nth-child(5):active::before {
        background-position: -800px -360px;
    }
    
    .product:nth-child(6):active::before {
        background-position: -995px -360px;
    }

/* SECTION SERVICES */
.services {
    background-color: #e5e5e5;
    padding-bottom: 120px;
}

    .services .container {
        font-size: 0;
        position: relative;
        top: -20px;
        left: 0;
    }
    
        .services_list {
            display: inline-block;
            vertical-align: top;
            width: 280px;
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
        }
        
        .services_list::after {
            content: "";
            display: block;
            width: 7px;
            height: 320px;
            background-color: #000;
            position: absolute;
            top: -80px;
            right: -4px;
        }
        
            .services_list li {
                margin-bottom: 25px;
            }
            
            .services_list li:last-child {
                margin-bottom: 0;
            }
            
                .services_list li a {
                    display: block;
                    width: 160px;
                    color: #000;
                    font: 18px/40px 'GilroyExtraBold', 'Arial', sans-serif;
                    text-transform: uppercase;
                    text-decoration: none;
                    cursor: pointer;
                    text-align: center;
                    box-sizing: border-box;
                    letter-spacing: 0.2em;
                    position: relative;
                    z-index: 1;
                }
                
                .services_list li a::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 8px;
                    background-color: #f0c52e;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: -1;
                }
                
                .services_list li a:not(.service_active):hover::after {
                    height: 100%;
                }
                
                .services_list li .service_active,
                .services_list li a:active {
                    background-color: #000;
                    color: #f7e184;
                    cursor: default;
                }
                
                .services_list li .service_active::after,
                .services_list li a:active::after {
                    background-color: transparent;
                }
                
                .services_list li a:active::before,
                .services_list li .service_active::before {
                    content: "";
                    display: block;
                    width: 120px;
                    position: absolute;
                    top: 0;
                    right: -120px;
                    height: 100%;
                    background-color: #000;
                    cursor: default;
                }
        
        .services_slider {
            display: inline-block;
            vertical-align: top;
            width: 760px;
            margin-left: 120px;
        }
        
            .services_slide {
                padding-right: 300px;
                box-sizing: border-box;
                position: relative;
                display: none;
            }
            
            .services_slide_active {
                display: block;
            }
            
                .services_slide .slider_title {
                    margin-top: -10px;
                    margin-bottom: 28px;
                }
                
                    .services_slide::before {
                        content: "";
                        display: block;
                        height: 200px;
                        position: absolute;
                        top: -20px;
                        right: 44px;
                        background-image: url('../img/sprite-bg.png');
                        background-repeat: no-repeat;
                    }
                
                .services_slide:nth-of-type(1)::before {
                    background-position: -650px 0;
                    width: 160px;
                }
                
                .services_slide:nth-of-type(2)::before {
                    background-position: -830px 0;
                    width: 140px;
                }
                
                .services_slide:nth-of-type(3)::before {
                    background-position: -990px 0;
                    width: 175px;
                }

/* SECTION COMPANY */
.company {
    font-size: 0;
    padding: 95px 0;
}

    .company a {
        display: inline-block;       
        vertical-align: top;
        width: 260px;
        height: 100px;
        margin-right: 40px;
        background-image: url('../img/sprite-bg.png');
        background-repeat: no-repeat;
        cursor: pointer;
    }
    
    .company a:last-child {
        margin-right: 0;
    }
    
    .company_dji {
        background-position: 0 -540px;
    }
    
    .company_spg {
        background-position: -300px -540px;
    }
    
    .company_gopro {
        background-position: -600px -540px;
    }
    
    .company_vive {
        background-position: -900px -540px;
    }
    
    .company_dji:hover {
        background-position: 0 -660px;
    }
    
    .company_spg:hover {
        background-position: -300px -660px;
    }
    
    .company_gopro:hover {
        background-position: -600px -660px;
    }
    
    .company_vive:hover {
        background-position: -900px -660px;
    }

/* SECTION INFO */
.info {
    padding: 50px 0 83px;
    font-size: 0;
}

    .about {
        display: inline-block;
        vertical-align: top;
        width: 560px;
    }
    
        .about .slider_title,
        .contacts .slider_title {
            margin: 0 0 40px;
        }
        
        .about .slider_title:before,
        .contacts .slider_title:before {
            content: "";
            display: block;
            width: 80px;
            height: 7px;
            background-color: #000;
            position: absolute;
            top: -48px;
            left: 0;
        }
        
        .about .slider_text,
        .contacts .slider_text {
            width: 475px;
            margin-bottom: 30px;
        }
        
        .about_list {
            margin: 65px 0 0 0;
            padding: 0;
            list-style-type: none;
        }
        
            .about_list li {
                font: 16px/40px 'GilroyExtraBold', 'Arial', sans-serif;
                color: #000;
                padding-left: 35px;
                position: relative;
            }
            
                .about_list li:before {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 16px;
                    left: 0;
                    background-image: url('../img/sprite-bg.png');
                    background-repeat: no-repeat;
                    background-position: -280px -40px;
                }
                
                .about .slider_detail {
                    margin-top: 55px;
                    width: 260px;
                }
    
    .contacts {
        display: inline-block;
        vertical-align: top;
        width: 560px;
    }
    
        .contacts_map {
            display: block;
            width: 560px;
            height: 222px;
            margin: 39px 0 68px;
            background-image: url('../img/map.jpg');
            background-repeat: no-repeat;
            position: relative;
            z-index: 100;
        }
        
        .contacts_map:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }
        
        .contacts .slider_detail {
            width: 260px;
        }

/* ======================== PAGE CATALOG ======================== */
/* Section Caprion */
.caption {
    
}

    .caption .container {
        box-sizing: border-box;
        padding: 34px 0 40px 60px;
    }

        .caption_title {
            margin: 0;
            font: 47px 'GilroyExtraBold', 'Arial', sans-serif;
            color: #000;
        }
        
        .caption_breadcrumbs {
            margin: 16px 0 0 0;
            padding: 0;
            list-style-type: none;
            font-size: 0;
        }
        
            .caption_breadcrumbs li {
                display: inline-block;
                vertical-align: top;
            }
            
                .caption_breadcrumbs a {
                    font: 14px/36px 'OpenSansLight', 'Arial', sans-serif;
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                    opacity: 0.3;
                }
                
                .caption_breadcrumbs a:hover {
                    opacity: 0.6;
                }
                
                .caption_breadcrumbs a:active {
                    opacity: 0.1;
                }
                
                    .caption_breadcrumbs li:not(:last-child) a::after {
                        content: "";
                        display: inline-block;
                        width: 4px;
                        height: 7px;
                        background-image: url("../img/sprite-bg.png");
                        background-repeat: no-repeat;
                        background-position: -340px 0;
                        margin: 0 20px 0 17px;
                    }
                
                .caption_breadcrumbs li:last-child a {
                    cursor: default;
                }

/* Section Catalog */             
.catalog {
    width: 100%;
    display: table;
}

    .catalog_left {
        display: table-cell;
        background-color: #eee;
    }
    
        .catalog_left::before {
            content: "";
            display: block;
            height: 70px;
            background-color: #dbdbdb;
        }
    
    .catalog_right {
        display: table-cell;
        background-color: #fff;
    }
    
        .catalog_right::before {
            content: "";
            display: block;
            height: 70px;
            background-color: #ebebeb;
        }
    
    .catalog_center {
        display: table-cell;
        width: 1160px;
        height: 500px;
        vertical-align: top;
        font-size: 0;
    }

        .filter {
            display: inline-block;
            vertical-align: top;
            width: 328px;
            background-color: #eee;
            height: 100%;
        }
        
            .filter .filter_title {
                font: 16px/70px 'GilroyExtraBold', 'Arial', sans-serif;
                background-color: #dbdbdb;
                position: relative;
                z-index: 1;
                padding-left: 60px;
                box-sizing: border-box;
            }
        
        .goods {
            display: inline-block;
            vertical-align: top;
            width: 832px;
            height: 100%;
            font: 16px/70px 'GilroyExtraBold', 'Arial', sans-serif;
        }
        
            .goods_sorting {
                height: 70px;
                background-color: #ebebeb;
            }


/* ======================== FOOTER ======================== */
.footer {
    background-color: #464646;
    padding: 67px 0 85px;
}

        .footer_logo {
            float: left;
            width: 165px;
            height: 35px;
            background-image: url('../img/sprite-bg.png');
            background-repeat: no-repeat;
            background-position: 0 -120px;
            color: transparent;
        }
        
        .footer_logo:hover {
            background-position: 0 -160px;
        }
        
        .footer_logo:active {
            opacity: 0.3;
        }
        
        .footer_btn_wrap {
            float: right;
            width: 326px;
            font-size: 0;
        }
        
            .footer_btn_wrap a {
                display: inline-block;
                vertical-align: top;
                font: 15px/25px 'OpenSansLight', 'Arial', sans-serif;
                color: rgba(255, 255, 255, 0.7);
                text-decoration: none;
                cursor: pointer;
            }
            
            .footer_btn_wrap a:hover {
                color: rgba(255, 255, 255, 1);
            }
            
            .footer_btn_wrap a:active {
                color: rgba(255, 255, 255, 0.3);
            }
            
                .footer_btn_wrap a:before {
                    content: "";
                    display: inline-block;
                    width: 13px;
                    height: 12px;
                    margin-right: 12px;
                    background-image: url('../img/sprite-bg.png');
                    background-repeat: no-repeat;
                }
                
                .footer_btn_wrap a:nth-of-type(1):before {
                    background-position: -220px -60px;
                }
                
                .footer_btn_wrap a:nth-of-type(2):before {
                    background-position: -240px -60px;
                }
                
                .footer_btn_wrap a:nth-of-type(3):before {
                    background-position: -260px -60px;
                }
                
                .footer_btn_wrap a:nth-of-type(1):hover:before {
                    background-position: -220px -80px;
                }
                
                .footer_btn_wrap a:nth-of-type(2):hover:before {
                    background-position: -240px -80px;
                }
                
                .footer_btn_wrap a:nth-of-type(3):hover:before {
                    background-position: -260px -80px;
                }
                
                .footer_btn_wrap a:active:before {
                    opacity: 0.3;
                }
                
    .footer_contacts {
        position: relative;
        margin: 32px 0 60px;
    }
    
        .footer_address {
            float: left;
            width: 300px;
            margin: 0;
            font: 15px/30px 'OpenSansLight', 'Arial', sans-serif;
            color: #fff;
        }
        
        .footer_tel {
            float: right;
            width: 300px;
            margin: 0;
            font: 15px/30px 'OpenSansLight', 'Arial', sans-serif;
            color: #fff;
            text-align: right;
        }
        
        .footer_service {
            margin: 0 300px;
            text-align: center;
            font-size: 0;
        }
        
            .footer_service a {
                display: inline-block;
                vertical-align: top;
                font: 18px/30px 'GilroyExtraBold', 'Arial', sans-serif;
                color: #fff;
                text-decoration: none;
                margin-right: 40px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 0.2em;
            }
            
            .footer_service a:last-child {
                margin-right: 0;
            }
            
            .footer_service a:hover {
                opacity: 0.6;
            }
            
            .footer_service a:active {
                opacity: 0.3;
            }
    
    .footer_icons {
        position: relative;
    }
    
        .footer_icons::after {
            content: "";
            display: block;
            width: 80px;
            height: 7px;
            position: absolute;
            top: 16px;
            left: 0;
            background-color: #f7e184;
        }
        
        .footer_developer {
            float: right;
            color: transparent;
            font-size: 0;
            width: 27px;
            height: 34px;
            background-image: url('../img/sprite-bg.png');
            background-repeat: no-repeat;
            background-position: -180px 0;
        }
        
        .footer_developer:hover {
            background-position: -180px -40px;
        }
        
        .footer_developer:active {
            opacity: 0.3;
        }
        
        .footer_social {
            margin: 0 80px;
            text-align: center;
            font-size: 0;
        }
        
            .footer_social a {
                display: inline-block;
                width: 39px;
                height: 39px;
                vertical-align: top;
                margin-right: 16px;
                color: transparent;
                cursor: pointer;
                background-image: url('../img/sprite-bg.png');
                background-repeat: no-repeat;
                opacity: 0.3;
            }
            
            .footer_social a:last-child {
                margin-right: 0;
            }
            
            .footer_social a:nth-of-type(1) {
                background-position: -520px 0;
            }
            
            .footer_social a:nth-of-type(2) {
                background-position: -560px 0;
            }
            
            .footer_social a:nth-of-type(3) {
                background-position: -600px 0;
            }
            
            .footer_social a:hover {
                opacity: 0.6;
            }
            
            .footer_social a:active {
                opacity: 0.1;
            }

/* ======================== POPUP ======================== */
.popup {
    width: 960px;
    height: 553px;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
    padding: 96px 0;
    box-sizing: border-box;
    box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
    display: none;
}

    .popup_form {
        width: 758px;
        margin: 0 auto;
        font-size: 0;
    }
    
        .label_inline {
            display: inline-block;
            vertical-align: top;
            width: 360px;
            font: 18px/18px 'GilroyExtraBold', 'Arial', sans-serif;
            color: #000;
        }
        
        .label_inline:first-child {
            margin-right: 38px;
        }
        
        .label_block {
            display: block;
            font: 18px/18px 'GilroyExtraBold', 'Arial', sans-serif;
            color: #000;
            margin-top: 28px;
        }
        
            .label_inline input,
            .label_block textarea {
                display: block;
                width: 100%;
                height: 50px;
                background-color: rgba(230, 230, 230, 0.5);
                padding: 0 20px;
                box-sizing: border-box;
                font: 14px/18px 'OpenSans', 'Arial', sans-serif;
                color: rgba(70, 70, 70, 0.4);
                margin-top: 12px;
                border: 3px solid transparent;
                outline: none;
            }
            
            .label_block textarea {
                height: 156px;
                padding: 16px 20px;
                resize: none;
            }
            
            .label_inline input:hover,
            .label_block textarea:hover {
                background-color: rgba(230, 230, 230, 0.8);
            }
            
            .label_inline input:focus,
            .label_block textarea:focus {
                border-color: #cbcbcb;
                background-color: #fff;
            }
            
            input:focus:required:invalid  {
                background-color: rgba(237, 181, 181, 0.5);
                border-color: transparent;
            }
    
    .popup_close {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        position: absolute;
        top: 22px;
        right: 22px;
        background-color: rgba(240, 197, 46, 0.5);
        cursor: pointer;
    }
    
    .popup_close:hover {
        background-color: rgba(240, 197, 46, 1);
    }
    
    .popup_close:active {
        background-color: rgba(240, 197, 46, 1);
    }
    
        .popup_close::before,
        .popup_close::after {
            content: "";
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
        
        .popup_close::before {
            transform: rotate(45deg);
        }
        
        .popup_close::after {
            transform: rotate(-45deg);
        }
        
        .popup_form .slider_detail {
            border: none;
            width: 200px;
            background-color: transparent;
        }
        
        .popup_close:active::before,
        .popup_close:active::after {
            opacity: 0.3;
        }

/* ======================== POPUP-map ======================== */
.paranja {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

    .popup_map {
        width: 960px;
        height: 560px;
        position: fixed;
        background-image: url('../img/map-big.jpg');
        background-repeat: no-repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 200;
        box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
    }